@import url(./reset.css);
@keyframes hue { to { filter: hue-rotate(360deg); } }
@keyframes turnon { 70% { left: 0; top: 0; filter: grayscale(70%); transform: scale(1); }
  to { left: 0; top: 0; filter: grayscale(0%); transform: scale(1); } }
@keyframes bigger { 40% { transform: scale(2); }
  60% { transform: scale(1.5); }
  80% { transform: scale(1.3); }
  to { transform: scale(1); } }
@keyframes blur { to { filter: blur(0px); } }
@keyframes toLeftTop { to { left: 0; top: 0; transform: scale(1); } }
@keyframes toBackwards { from { left: 0; top: 0; transform: scale(1); } }
@keyframes float { from { opacity: 1; filter: blur(0px); transform: translateY(4px); }
  to { opacity: 0.2; filter: blur(0px); transform: translateY(0px); } }
@keyframes off { to { filter: grayscale(70%); } }
@keyframes frame { 25% { outline-width: 4px; }
  100% { outline-width: 8px; } }
@keyframes coding { from { opacity: 0; }
  60% { transform: rotate(280deg); }
  80% { transform: rotate(230deg); }
  to { opacity: 1; transform: rotate(250deg); } }
@keyframes photo { 0%,
	10% { transform: scaleY(0); }
  25%,
	75% { transform: scaleY(1); }
  90%,
	100% { transform: scaleY(0); } }
@keyframes logo { 70% { stroke-dashoffset: 0; fill: transparent; }
  80% { stroke-dashoffset: 0; fill: #1a1818; }
  90% { stroke-dashoffset: 0; fill: transparent; }
  to { transform: rotate(0deg); stroke-dashoffset: 0; fill: #1a1818; } }
@keyframes shadow { 30% { opacity: 0.5; }
  60% { opacity: 0.1; }
  75% { opacity: 0.4; }
  90% { opacity: 0.2; }
  to { opacity: 0.3; } }
.intro { position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 1000; background-color: #fff; }
.intro svg { margin: 40vh 30vw; }
.intro svg #fullSig > path { fill: transparent; animation: logo 1.5s forwards linear; }
.intro svg #fullSig > #AlphabetD { stroke-dasharray: 229px; stroke-dashoffset: 229px; }
.intro svg #fullSig > #AlphabetO { stroke-dasharray: 143px; stroke-dashoffset: 143px; animation-delay: 2s; }
.intro svg #fullSig > #AlphabetN { stroke-dasharray: 167px; stroke-dashoffset: 167px; animation-delay: 1.2s; }
.intro svg #fullSig > #AlphabetN2 { stroke-dasharray: 167px; stroke-dashoffset: 167px; animation-delay: 0.2s; }
.intro svg #fullSig > #AlphabetA { stroke-dasharray: 166px; stroke-dashoffset: 166px; animation-delay: 1.7s; }
.intro svg #fullSig > #Alphabeteye { stroke-dasharray: 82px; stroke-dashoffset: 82px; animation-delay: 2.4s; }
.intro svg #fullSig > #Alphabetmouth { stroke-dasharray: 147px; stroke-dashoffset: 147px; animation-delay: 0.8s; }
.intro svg #shadow { opacity: 0; animation: shadow 1s forwards 4s; }

#wrap { font-family: Roboto; width: 90vw; margin: 0 5vw; position: relative; }
#wrap > header { position: sticky; left: 0; top: 0; z-index: 1000; width: 100%; height: calc(4vw + 2vh); display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center; background-color: #fff; }
#wrap > header > h1.logo { width: 15vw; height: 4vw; max-width: 200px; max-height: calc(800px / 15); min-width: 100px; min-height: calc(400px / 15); margin: 2vh 0; }
#wrap > header > h1.logo > a { display: block; width: 100%; height: 100%; text-indent: -9999px; background-repeat: no-repeat; background-position: center; background-image: url(../img/h1logo.svg); background-size: contain; }
#wrap > header > h2 { font-weight: normal; font-size: 1.2rem; font-weight: 800; margin: 0 1vw; }
@media screen and (max-width: 1280px) { #wrap > header > h2 { font-size: 1rem; } }
@media screen and (max-width: 1100px) { #wrap > header > h2 { font-size: 0.8rem; position: absolute; top: 4px; right: -8px; } }
#wrap > header > h2 > span { position: relative; font-weight: 900; animation: hue 20s infinite alternate; background: -webkit-linear-gradient(0deg, #6cabd5, #244893, #71488a); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
@media screen and (max-width: 1100px) { #wrap > header > nav { align-self: flex-end; } }
#wrap > header > nav > ol { float: right; }
#wrap > header > nav > ol > li { float: left; margin-right: 5vw; position: relative; }
#wrap > header > nav > ol > li:after { position: absolute; right: -2.5vw; top: 0; display: inline-block; content: "|"; font-size: 1.6rem; line-height: 1.6rem; color: #313131; }
@media screen and (max-width: 1280px) { #wrap > header > nav > ol > li:after { font-size: 1.4rem; } }
#wrap > header > nav > ol > li:last-child { margin-right: 0; }
#wrap > header > nav > ol > li:last-child::after { content: none; }
#wrap > header > nav > ol > li:nth-child(1):hover > a, #wrap > header > nav > ol > li:nth-child(1):focus > a, #wrap > header > nav > ol > li:nth-child(1).on > a { color: #6cabd5; }
#wrap > header > nav > ol > li:nth-child(2):hover > a, #wrap > header > nav > ol > li:nth-child(2):focus > a, #wrap > header > nav > ol > li:nth-child(2).on > a { color: #244893; }
#wrap > header > nav > ol > li:nth-child(3):hover > a, #wrap > header > nav > ol > li:nth-child(3):focus > a, #wrap > header > nav > ol > li:nth-child(3).on > a { color: #71488a; }
#wrap > header > nav > ol > li > a { display: block; color: #777; font-weight: 700; font-size: 1.6rem; }
@media screen and (max-width: 1280px) { #wrap > header > nav > ol > li > a { font-size: 1.4rem; } }
#wrap > section { width: 100%; background-image: url(../img/profile_main_bb1.png); background-repeat: no-repeat; background-position: 65% 90%; margin: 0 0 6vh; }
@media screen and (max-width: 1100px) { #wrap > section { background-position: left bottom; } }
#wrap > section > .grid-container { display: grid; height: calc(93vh - 6vw); margin: 1vw 0; grid-template-columns: repeat(12, 1fr); grid-template-rows: repeat(6, 1fr); grid-gap: 1.5vw; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container { height: 160vh; grid-template-columns: repeat(6, 1fr); grid-template-rows: repeat(13, 1fr); } }
#wrap > section > .grid-container > button { position: relative; outline: none; border: none; background: none; z-index: 1; overflow: hidden; font-weight: 700; color: #fff; transition: all 0.6s; }
#wrap > section > .grid-container > button.whatdo { background-color: rgba(108, 171, 213, 0.6); }
#wrap > section > .grid-container > button.whatdone { background-color: rgba(113, 72, 138, 0.6); }
#wrap > section > .grid-container > button.who { background-color: rgba(36, 72, 147, 0.6); }
#wrap > section > .grid-container > button:after { display: block; position: absolute; left: 0; top: 0; z-index: -1; width: 100%; height: 100%; border-radius: 50%; background-color: #6cabd5; transform: scale(0); content: ""; transition: all 0.4s; }
#wrap > section > .grid-container > button.on, #wrap > section > .grid-container > button:hover, #wrap > section > .grid-container > button:focus { border-radius: 50%; }
#wrap > section > .grid-container > button.on:after, #wrap > section > .grid-container > button:hover:after, #wrap > section > .grid-container > button:focus:after { transform: scale(2); }
#wrap > section > .grid-container > article.on { animation: frame 1s linear alternate infinite; }
#wrap > section > .grid-container > article.off { animation: off 1s linear forwards; }
#wrap > section > .grid-container > article.do { grid-column: 1/7; grid-row: 1/7; overflow: hidden; box-sizing: border-box; outline: 0px solid #6cabd5; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container > article.do { grid-column: 1/7; grid-row: 1/7; } }
#wrap > section > .grid-container > article.do > ul { position: relative; overflow: hidden; height: 100%; }
#wrap > section > .grid-container > article.do > ul > li { overflow-x: hidden; position: absolute; top: 0; left: 120%; width: 100%; height: 100%; text-align: center; background-color: #fff; }
#wrap > section > .grid-container > article.do > ul > li.tit { background-color: #6cabd5; opacity: 0.8; color: #fff; filter: grayscale(70%); }
#wrap > section > .grid-container > article.do > ul > li.tit > h2 { height: 30vh; font-size: 2rem; text-indent: 0; line-height: 30vh; background: none; }
#wrap > section > .grid-container > article.do > ul > li.tit > p { color: #fff; font-weight: 800; font-size: 1.4rem; line-height: 2rem; filter: blur(18px); }
#wrap > section > .grid-container > article.do > ul > li.tit > p:last-child { margin-top: 16vh; font-size: 0.8rem; }
#wrap > section > .grid-container > article.do > ul > li:nth-child(2n) { left: -120%; }
#wrap > section > .grid-container > article.do > ul > li > h2 { width: 172px; height: 40px; margin: 1.5vh auto; text-align: center; text-indent: -9999px; background-repeat: no-repeat; background-position: center; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container > article.do > ul > li > h2 { margin: 2vh auto; } }
#wrap > section > .grid-container > article.do > ul > li:nth-child(2) > h2 { background-image: url(../img/profile_whatdo_thumb1.png); }
#wrap > section > .grid-container > article.do > ul > li:nth-child(3) > h2 { background-image: url(../img/profile_whatdo_thumb2.png); }
#wrap > section > .grid-container > article.do > ul > li:nth-child(4) > h2 { background-image: url(../img/profile_whatdo_thumb3.png); }
#wrap > section > .grid-container > article.do > ul > li:nth-child(5) > h2 { background-image: url(../img/profile_whatdo_thumb5.png); }
#wrap > section > .grid-container > article.do > ul > li:nth-child(6) > h2 { background-image: url(../img/profile_whatdo_thumb6.png); }
#wrap > section > .grid-container > article.do > ul > li:nth-child(7) > h2 { background-image: url(../img/profile_whatdo_thumb7.png); }
#wrap > section > .grid-container > article.do > ul > li > h3 { font-size: 1.2rem; margin: 0.5vh 0; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container > article.do > ul > li > h3 { margin: 1vh 0; } }
#wrap > section > .grid-container > article.do > ul > li > h4 { margin: 0.5vh 0; color: #000; font-size: 1rem; }
#wrap > section > .grid-container > article.do > ul > li > p { color: #000; font-size: 0.9rem; line-height: 1.3rem; }
#wrap > section > .grid-container > article.do > ul > li > img { display: block; width: 100%; max-width: 532px; margin: 1vh auto; image-rendering: pixelated; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container > article.do > ul > li > img { margin: 4vh auto; } }
#wrap > section > .grid-container > article.do > ul > li .btn { margin: 1vh auto; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container > article.do > ul > li .btn { margin: 1.5vh 0; } }
#wrap > section > .grid-container > article.do > ul > li .btn > a { display: inline-block; margin: 0 0.2vw; width: 100px; height: 40px; color: #fff; font-size: 1rem; font-weight: 700; line-height: 40px; background-color: #6cabd5; border-radius: 20px; }
#wrap > section > .grid-container > article.do > ul > li .btn > a:hover { color: #244893; }
#wrap > section > .grid-container > article.who { grid-column: 8/12; grid-row: 1/4; outline: 0px solid #244893; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container > article.who { grid-column: 1/5; grid-row: 8/11; } }
#wrap > section > .grid-container > article.who > ul { overflow: hidden; position: relative; height: 100%; }
#wrap > section > .grid-container > article.who > ul > li { position: absolute; left: 0; top: 150%; width: 100%; height: 100%; padding: 2vh 2vw; box-sizing: border-box; background-color: #fff; }
#wrap > section > .grid-container > article.who > ul > li.tit { color: #fff; text-align: center; background-color: #244893; filter: grayscale(70%); }
#wrap > section > .grid-container > article.who > ul > li.tit > h2 { height: 12vh; font-size: 2rem; text-indent: 0; line-height: 10vh; background: none; }
#wrap > section > .grid-container > article.who > ul > li.tit > p { color: #fff; font-weight: 800; font-size: 1.2rem; line-height: 2rem; filter: blur(18px); }
#wrap > section > .grid-container > article.who > ul > li.tit > p:last-child { margin-top: 4vh; font-size: 0.8rem; }
#wrap > section > .grid-container > article.who > ul > li:nth-child(2) div { display: flex; justify-content: space-around; width: 100%; height: 30%; }
#wrap > section > .grid-container > article.who > ul > li:nth-child(2) div > p { width: 80px; height: 80px; margin-top: -0.5vh; position: relative; }
#wrap > section > .grid-container > article.who > ul > li:nth-child(2) div > p > span { position: absolute; left: 0; top: 0; display: block; width: 90%; height: 90%; padding: 5%; text-indent: -9999px; background-repeat: no-repeat; background-position: center; }
#wrap > section > .grid-container > article.who > ul > li:nth-child(2) div > p.sk1 > span { background-image: url(../img/profile_who_sk1.png); }
#wrap > section > .grid-container > article.who > ul > li:nth-child(2) div > p.sk2 > span { background-image: url(../img/profile_who_sk2.png); }
#wrap > section > .grid-container > article.who > ul > li:nth-child(2) div > p.sk2 > span + svg { animation-delay: 0.2s; }
#wrap > section > .grid-container > article.who > ul > li:nth-child(2) div > p.sk3 > span { background-image: url(../img/profile_who_sk3.png); }
#wrap > section > .grid-container > article.who > ul > li:nth-child(2) div > p.sk3 > span + svg { animation-delay: 0.4s; }
#wrap > section > .grid-container > article.who > ul > li:nth-child(2) div > p.sk4 > span { background-image: url(../img/profile_who_sk4.png); }
#wrap > section > .grid-container > article.who > ul > li:nth-child(2) div > p.sk4 > span + svg { animation-delay: 0.6s; }
#wrap > section > .grid-container > article.who > ul > li:nth-child(2) div > p.sk5 > span { background-image: url(../img/profile_who_sk5.png); }
#wrap > section > .grid-container > article.who > ul > li:nth-child(2) div > p.sk5 > span + svg { animation-delay: 0.8s; }
#wrap > section > .grid-container > article.who > ul > li:nth-child(2) div > p.sk6 > span { background-image: url(../img/profile_who_sk6.png); }
#wrap > section > .grid-container > article.who > ul > li:nth-child(2) div > p.sk6 > span + svg { animation-delay: 1s; }
#wrap > section > .grid-container > article.who > ul > li:nth-child(2) div > p.sk7 > span { background-image: url(../img/profile_who_sk7.png); }
#wrap > section > .grid-container > article.who > ul > li:nth-child(2) div > p.sk7 > span + svg { animation-delay: 1.2s; }
#wrap > section > .grid-container > article.who > ul > li:nth-child(2) div > p.sk8 > span { background-image: url(../img/profile_who_sk8.png); }
#wrap > section > .grid-container > article.who > ul > li:nth-child(2) div > p.sk8 > span + svg { animation-delay: 1.4s; }
#wrap > section > .grid-container > article.who > ul > li:nth-child(2) div > p > svg { position: absolute; left: 0; top: 0; width: 100%; height: 110%; fill: transparent; transform-origin: center; opacity: 0; }
#wrap > section > .grid-container > article.who > ul > li:nth-child(2) div > p > svg > text { font-weight: 600; font-size: 1.2rem; fill: #000; }
#wrap > section > .grid-container > article.who > ul > li:nth-child(2) div > p > svg.on { animation: coding 1s forwards; }
#wrap > section > .grid-container > article.who > ul > li:nth-child(3) { background-image: url(../img/profile_who_career1.png), url(../img/profile_who_career2.png); background-position: left top, right bottom; background-repeat: no-repeat; }
#wrap > section > .grid-container > article.who > ul > li:nth-child(3) > h2 { margin-bottom: 1.5vh; font-size: 1.2rem; }
#wrap > section > .grid-container > article.who > ul > li:nth-child(3) > h2:first-child { text-align: right; }
#wrap > section > .grid-container > article.who > ul > li:nth-child(3) > p { margin-bottom: 1.5vh; font-weight: 700; font-size: 1rem; line-height: 1.4rem; word-break: keep-all; }
#wrap > section > .grid-container > article.who > ul > li:nth-child(3) > p:first-of-type { text-align: right; margin-bottom: 5.5vh; }
#wrap > section > .grid-container > article.who > ul > li:nth-child(3) > p > a { display: inline-block; width: 1.4rem; height: 1.4rem; text-indent: -9999px; background-repeat: no-repeat; background-position: center; background-image: url(../img/profile_who_newtab.svg); }
#wrap > section > .grid-container > article.who > ul > li:nth-child(4) { background-image: url(../img/profile_who_adjective.png); background-repeat: no-repeat; background-size: cover; background-position: center; }
#wrap > section > .grid-container > article.who > ul > li:nth-child(4) > h3 { color: #244893; margin: 2vh 0 1vh; font-size: 1.5rem; }
#wrap > section > .grid-container > article.who > ul > li:nth-child(4) > p { font-size: 1rem; font-weight: 600; text-align: right; }
#wrap > section > .grid-container > article.who > ul > li:nth-child(2n) { top: -150%; }
#wrap > section > .grid-container > article.done { grid-column: 10/13; grid-row: 4/7; outline: 0px solid #71488a; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container > article.done { grid-column: 4/7; grid-row: 11/14; } }
#wrap > section > .grid-container > article.done > ul { position: relative; width: 100%; height: 100%; }
#wrap > section > .grid-container > article.done > ul > li { position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-color: #fff; transform: scale(0); padding: 2vh 1vw; box-sizing: border-box; }
#wrap > section > .grid-container > article.done > ul > li.tit { display: block; background-color: #71488a; filter: grayscale(70%); text-align: center; }
#wrap > section > .grid-container > article.done > ul > li.tit > h2 { height: 12vh; font-size: 1.6rem; text-indent: 0; line-height: 10vh; background: none; color: #fff; }
#wrap > section > .grid-container > article.done > ul > li.tit > p { color: #fff; font-weight: 800; font-size: 1.2rem; line-height: 2rem; filter: blur(18px); }
#wrap > section > .grid-container > article.done > ul > li.tit > p:last-child { margin-top: 4vh; font-size: 0.8rem; }
#wrap > section > .grid-container > article.done > ul > li:nth-child(2) { position: relative; overflow: hidden; }
#wrap > section > .grid-container > article.done > ul > li:nth-child(2) > ol { position: absolute; }
#wrap > section > .grid-container > article.done > ul > li:nth-child(2) > ol.main { left: 0%; top: 15%; width: 400%; height: 80%; }
#wrap > section > .grid-container > article.done > ul > li:nth-child(2) > ol.main > li { float: left; width: 25%; height: 100%; text-indent: -9999px; background-repeat: no-repeat; background-position: center; }
#wrap > section > .grid-container > article.done > ul > li:nth-child(2) > ol.main > li:nth-child(1) { background-image: url(../img/profile_whatdone_plan1.svg); }
#wrap > section > .grid-container > article.done > ul > li:nth-child(2) > ol.main > li:nth-child(2) { background-image: url(../img/profile_whatdone_plan2.svg); }
#wrap > section > .grid-container > article.done > ul > li:nth-child(2) > ol.main > li:nth-child(3) { background-image: url(../img/profile_whatdone_plan3.svg); }
#wrap > section > .grid-container > article.done > ul > li:nth-child(2) > ol.main > li:nth-child(4) { background-image: url(../img/profile_whatdone_plan4.svg); }
#wrap > section > .grid-container > article.done > ul > li:nth-child(2) > .pagination { left: calc(50% - 2.5vw); bottom: 1vh; z-index: 10; width: 5vw; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container > article.done > ul > li:nth-child(2) > .pagination { left: calc(50% - 6vw); width: 12vw; } }
#wrap > section > .grid-container > article.done > ul > li:nth-child(2) > .pagination > li { float: left; width: 0.6vw; height: 0.6vw; margin-right: 0.3vw; border-radius: 50%; text-indent: -9999px; background-repeat: no-repeat; background-position: center; background: #999; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container > article.done > ul > li:nth-child(2) > .pagination > li { width: 1.5vw; height: 1.5vw; margin-right: 1.3vw; } }
#wrap > section > .grid-container > article.done > ul > li:nth-child(2) > .pagination > li:last-child { margin-right: 0; }
#wrap > section > .grid-container > article.done > ul > li:nth-child(2) > .pagination > li > a { display: block; }
#wrap > section > .grid-container > article.done > ul > li:nth-child(2) > .pagination > li.on, #wrap > section > .grid-container > article.done > ul > li:nth-child(2) > .pagination > li:hover { background-color: #313131; }
#wrap > section > .grid-container > article.done > ul > li:nth-child(2) > .btn { display: flex; width: 90%; justify-content: space-between; position: absolute; left: 5%; top: calc(50% - 1vh); z-index: 10; }
#wrap > section > .grid-container > article.done > ul > li:nth-child(2) > .btn > a { display: block; width: 0px; height: 0px; text-indent: -9999px; border: 1.5vh solid #999; }
#wrap > section > .grid-container > article.done > ul > li:nth-child(2) > .btn > a:hover { border-color: #313131; }
#wrap > section > .grid-container > article.done > ul > li:nth-child(2) > .btn > a.next { border-top-color: transparent; border-bottom-color: transparent; border-right-color: transparent; }
#wrap > section > .grid-container > article.done > ul > li:nth-child(2) > .btn > a.prev { border-left-color: transparent; border-top-color: transparent; border-bottom-color: transparent; }
#wrap > section > .grid-container > article.done > ul > li:nth-child(3) > h3 { margin: 3vh 0; text-align: center; }
#wrap > section > .grid-container > article.done > ul > li:nth-child(3) > iframe { width: 100%; }
#wrap > section > .grid-container > article.done > ul > li:nth-child(4) > .frame { height: 100%; }
#wrap > section > .grid-container > article.done > ul > li:nth-child(4) > .frame > ol { position: relative; width: 100%; height: 100%; background-image: url(../img/profile_whatdone_trav1.png); background-repeat: no-repeat; background-size: cover; background-position: center; animation: photo 3s infinite linear; }
#wrap > section > .grid-container > article.done > ul > li:nth-child(4) > .frame > ol > li { display: none; }
#wrap > section > .grid-container > article.done > ul > li:nth-child(4) > .frame > .record { display: inline-block; position: absolute; bottom: 8px; right: 8px; padding: 4px 8px; color: #fff; font-size: 0.8rem; font-weight: 600; background-color: #000; animation: photo 3s infinite linear; }
#wrap > section > .grid-container .item1 { grid-column: 7/8; grid-row: 1/2; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container .item1 { grid-column: 1/2; grid-row: 7/8; } }
#wrap > section > .grid-container .item2 { grid-column: 7/8; grid-row: 2/3; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container .item2 { grid-column: 2/3; grid-row: 7/8; } }
#wrap > section > .grid-container .item3 { grid-column: 7/8; grid-row: 3/4; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container .item3 { grid-column: 3/4; grid-row: 7/8; } }
#wrap > section > .grid-container .item4 { grid-column: 7/8; grid-row: 4/5; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container .item4 { grid-column: 4/5; grid-row: 7/8; } }
#wrap > section > .grid-container .item5 { grid-column: 7/8; grid-row: 5/6; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container .item5 { grid-column: 5/6; grid-row: 7/8; } }
#wrap > section > .grid-container .item6 { grid-column: 7/8; grid-row: 6/7; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container .item6 { grid-column: 6/7; grid-row: 7/8; } }
#wrap > section > .grid-container .item7 { grid-column: 8/9; grid-row: 4/5; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container .item7 { grid-column: 5/6; grid-row: 8/9; } }
#wrap > section > .grid-container .item8 { grid-column: 8/9; grid-row: 6/7; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container .item8 { grid-column: 6/7; grid-row: 8/9; } }
#wrap > section > .grid-container .item9 { grid-column: 9/10; grid-row: 4/5; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container .item9 { grid-column: 2/3; grid-row: 11/12; } }
#wrap > section > .grid-container .item9:after { background-color: #71488a; }
#wrap > section > .grid-container .item10 { grid-column: 9/10; grid-row: 5/6; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container .item10 { grid-column: 3/4; grid-row: 11/12; } }
#wrap > section > .grid-container .item10:after { background-color: #71488a; }
#wrap > section > .grid-container .item11 { grid-column: 9/10; grid-row: 6/7; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container .item11 { grid-column: 3/4; grid-row: 12/13; } }
#wrap > section > .grid-container .item11:after { background-color: #71488a; }
#wrap > section > .grid-container .item12 { grid-column: 12/13; grid-row: 1/2; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container .item12 { grid-column: 5/6; grid-row: 9/10; } }
#wrap > section > .grid-container .item12:after { background-color: #244893; }
#wrap > section > .grid-container .item13 { grid-column: 12/13; grid-row: 2/3; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container .item13 { grid-column: 6/7; grid-row: 9/10; } }
#wrap > section > .grid-container .item13:after { background-color: #244893; }
#wrap > section > .grid-container .item14 { grid-column: 12/13; grid-row: 3/4; }
@media screen and (max-width: 1100px) { #wrap > section > .grid-container .item14 { grid-column: 5/6; grid-row: 10/11; } }
#wrap > section > .grid-container .item14:after { background-color: #244893; }
#wrap > section > .grid-container > article > ul > li.on { animation: toLeftTop 1s forwards ease-in; }
#wrap > section > .grid-container > article > ul > li.off { animation: toBackwards 1s forwards ease-in; }
#wrap > section > .grid-container > article > ul > li.turn { animation: turnon 2s forwards ease-in-out; }
#wrap > section > .grid-container > article > ul > li.turn > h2 { animation: bigger 1s forwards 1s; }
#wrap > section > .grid-container > article > ul > li.turn > p { animation: blur 1s forwards; }
#wrap > section > .grid-container > article > ul > li.turn > p:nth-of-type(1) { animation-delay: 1.6s; }
#wrap > section > .grid-container > article > ul > li.turn > p:nth-of-type(2) { animation-delay: 2s; }
#wrap > section > .grid-container > article > ul > li.turn > p:nth-of-type(3) { animation-delay: 2.4s; }
#wrap > section > .grid-container > article > ul > li.turn > p:nth-of-type(4) { animation-delay: 2.8s; }
#wrap > section > .grid-container > article > ul > li.turn > p:last-child { animation: float 0.5s infinite alternate linear 3.6s; }
#wrap > footer { position: fixed; left: 0; bottom: 0; width: 90vw; margin: 0 5vw; height: 5vh; z-index: 1000; background-color: #313131; display: flex; justify-content: center; align-items: center; }
#wrap > footer > address { color: #fff; height: 20px; line-height: 20px; font-size: 0.7rem; }
#wrap > footer > address > a { display: inline-block; padding: 0 16px; font-size: 0.7rem; color: #fff; }
#wrap > footer > address > a:last-child { width: 73px; text-indent: -9999px; background-repeat: no-repeat; background-position: center; background-image: url(../img/profile_main_github.png); }

body { overflow-x: hidden; }

/*# sourceMappingURL=profile.css.map */
