@charset "utf-8";
@import url(./reset.css);
@import "./fragment/var";
@import "./fragment/intro";

#wrap {
	font-family: Roboto;
	color: #313131;
	width: 90vw;
	margin: 0 5vw;
	position: relative;
	@media #{$rwd700} {
		width: 95vw;
		margin: 0 2.5vw;
	}
	> header {
		position: sticky;
		left: 0;
		top: 0;
		z-index: 1000;
		width: 100%;
		height: calc(4vw + 2vh);
		@include flex();
		justify-content: space-between;
		align-items: center;
		background-color: #fff;
		> h1.logo {
			width: 15vw;
			height: 4vw;
			max-width: 200px;
			max-height: calc(800px / 15);
			min-width: 100px;
			min-height: calc(400px / 15);
			margin: 2vh 0;
			> a {
				display: block;
				width: 100%;
				height: 100%;
				@include irSet();
				background-image: url(../img/h1logo.svg);
				background-size: contain;
			}
		} //end of .logo
		> h2 {
			font-weight: normal;
			font-size: 1.2rem;
			font-weight: 800;
			margin: 0 1vw;
			@media screen and (max-width: 1280px) {
				font-size: 1rem;
			}
			@media #{$rwd1100} {
				font-size: 0.8rem;
				position: absolute;
				top: 4px;
				right: -8px;
			}
			@media #{$rwd700} {
				font-size: 0.8rem;
				line-height: 4vw;
				position: initial;
			}
			> span {
				position: relative;
				font-weight: 900;
				animation: hue 20s infinite alternate;
				background: -webkit-linear-gradient(
					0deg,
					$skyCol,
					$blueCol,
					$purpleCol
				);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
		// end of h2
		> nav {
			@media #{$rwd1100} {
				align-self: flex-end;
			}
			@media #{$rwd700} {
				display: none;
			}
			> ol {
				float: right;
				> li {
					float: left;
					margin-right: 5vw;
					position: relative;
					&:after {
						position: absolute;
						right: -2.5vw;
						top: 0;
						display: inline-block;
						content: "|";
						font-size: 1.6rem;
						line-height: 1.6rem;
						color: #313131;
						@media screen and (max-width: 1280px) {
							font-size: 1.4rem;
							line-height: 1.4rem;
						}
					}
					&:last-child {
						margin-right: 0;
						&::after {
							content: none;
						}
					}
					&:nth-child(1):hover > a,
					&:nth-child(1):focus > a,
					&:nth-child(1).on > a {
						color: $skyCol;
					}
					&:nth-child(2):hover > a,
					&:nth-child(2):focus > a,
					&:nth-child(2).on > a {
						color: $blueCol;
					}
					&:nth-child(3):hover > a,
					&:nth-child(3):focus > a,
					&:nth-child(3).on > a {
						color: $purpleCol;
					}
					> a {
						display: block;
						color: #777;
						font-weight: 700;
						font-size: 1.6rem;
						@media screen and (max-width: 1280px) {
							font-size: 1.4rem;
						}
					}
				}
			}
		}
		// end of nav.clear
	}
	// end of header
	> section {
		width: 100%;
		background-image: url(../img/profile_main_bb1.png);
		background-repeat: no-repeat;
		background-position: 65% 90%;
		margin: 0 0 6vh;
		@media #{$rwd1100} {
			background-position: left bottom;
		}
		@media #{$rwd700} {
			background-image: url(../img/profile_main_bb1.png)
				url(../img/profile_bg_bottom.png);
			background-position: 58vw 120vh;
		}
		> .grid-container {
			display: grid;
			height: calc(93vh - 6vw);
			margin: 1vw 0;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: repeat(6, 1fr);
			grid-gap: 1.5vw;
			@media #{$rwd1100} {
				height: 160vh;
				grid-template-columns: repeat(6, 1fr);
				grid-template-rows: repeat(13, 1fr);
			}
			@media #{$rwd700} {
				height: 200vh;
				grid-template-columns: repeat(4, 1fr);
				grid-template-rows: repeat(14, 1fr);
				grid-gap: 1.5vh;
			}
			> button {
				position: relative;
				@include btnReset();
				z-index: 1;
				overflow: hidden;
				font-weight: 700;
				color: #fff;
				transition: all 0.6s;
				&.whatdo {
					background-color: rgba($skyCol, $alpha: 0.6);
				}
				&.whatdone {
					background-color: rgba($purpleCol, $alpha: 0.6);
				}
				&.who {
					background-color: rgba($blueCol, $alpha: 0.6);
				}
				&:after {
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					z-index: -1;
					width: 100%;
					height: 100%;
					border-radius: 50%;
					background-color: $skyCol;
					transform: scale(0);
					content: "";
					transition: all 0.4s;
				}
				&.on,
				&:hover,
				&:focus {
					border-radius: 50%;
					&:after {
						transform: scale(2);
					}
				}
			}
			> article.on {
				animation: frame 1s linear alternate infinite;
			}
			> article.off {
				animation: off 1s linear forwards;
			}
			> article.do {
				grid-column: 1/7;
				grid-row: 1/7;
				overflow: hidden;
				box-sizing: border-box;
				outline: 0px solid $skyCol;
				@media #{$rwd1100} {
					grid-column: 1/7;
					grid-row: 1/7;
				}
				@media #{$rwd700} {
					grid-column: 1/5;
					grid-row: 1/5;
				}
				> ul {
					position: relative;
					overflow: hidden;
					height: 100%;
					> li {
						overflow-x: hidden;
						position: absolute;
						top: 0;
						left: 120%;
						width: 100%;
						height: 100%;
						text-align: center;
						background-color: #fff;
						&.tit {
							background-color: $skyCol;
							opacity: 0.8;
							color: #fff;
							filter: grayscale(70%);
							> h2 {
								height: 30vh;
								font-size: 2rem;
								text-indent: 0;
								line-height: 30vh;
								background: none;
								@media #{$rwd700} {
									height: 20vh;
									font-size: 1.6rem;
									line-height: 20vh;
								}
							}
							> p {
								color: #fff;
								font-weight: 800;
								font-size: 1.4rem;
								line-height: 2rem;
								filter: blur(18px);
								@media #{$rwd700} {
									font-size: 1rem;
									line-height: 1.6rem;
								}
								&:last-child {
									margin-top: 14vh;
									font-size: 0.8rem;
									@media #{$rwd700} {
										margin-top: 8vh;
									}
								}
							}
						}
						&:nth-child(2n) {
							left: -120%;
						}
						> h2 {
							width: 172px;
							height: 40px;
							margin: 2.5vh auto;
							text-align: center;
							@include irSet();
							@media #{$rwd1100} {
								margin: 1.5vw auto;
							}
							@media #{$rwd700} {
								width: 40%;
								background-size: contain;
								height: 10%;
								margin: 0.5vh auto;
							}
						}
						&:nth-child(2) > h2 {
							background-image: url(../img/profile_whatdo_thumb1.png);
						}
						&:nth-child(3) > h2 {
							background-image: url(../img/profile_whatdo_thumb2.png);
						}
						&:nth-child(4) > h2 {
							background-image: url(../img/profile_whatdo_thumb3.png);
						}
						&:nth-child(5) > h2 {
							background-image: url(../img/profile_whatdo_thumb5.png);
						}
						&:nth-child(6) > h2 {
							background-image: url(../img/profile_whatdo_thumb6.png);
						}
						&:nth-child(7) > h2 {
							background-image: url(../img/profile_whatdo_thumb7.png);
						}
						&:nth-child(8) > h2 {
							background-image: url(../img/profile_whatdo_thumb8.png);
						}
						&:nth-child(9) > h2 {
							background-image: url(../img/profile_whatdo_thumb4.png);
						}
						> h3 {
							font-size: 1.2rem;
							margin: 2vh 0;
							@media #{$rwd1100} {
								margin: 2vw 0;
							}
							@media #{$rwd700} {
								font-size: 1rem;
								margin: 0.2vh 0;
							}
						}
						> h4 {
							margin: 1vh 0;
							color: #000;
							font-size: 1rem;
							@media #{$rwd700} {
								margin: .5vh 0;
								font-size: .9rem;
							}
						}
						> p {
							color: #000;
							font-size: 0.9rem;
							line-height: 1.3rem;
							@media #{$rwd700} {
								font-size: .8rem;
								line-height: 1rem;
							}
						}
						> img {
							display: block;
							width: 100%;
							max-width: 532px;
							margin: 1vh auto;
							image-rendering: pixelated;
							@media #{$rwd1100} {
								margin: 4vw auto;
							}
							@media #{$rwd700} {
								width: 80%;
								margin: 0.5vh auto;
							}
						}
						.btn {
							margin: 1vh auto;
							@media #{$rwd1100} {
								margin: 2vw 0;
							}
							> a {
								display: inline-block;
								margin: 0 0.2vw;
								width: 100px;
								height: 40px;
								color: #fff;
								font-size: 1rem;
								font-weight: 700;
								line-height: 40px;
								background-color: $skyCol;
								border-radius: 20px;
								@media #{$rwd700} {
									width: 25%;
									height: 23px;
									font-size: 0.9rem;
									line-height: 23px;
								}
								&:hover {
									color: $blueCol;
								}
							}
						}
					}
					// end of li
				}
			}
			// end of .do
			> article.who {
				grid-column: 8/12;
				grid-row: 1/4;
				outline: 0px solid $blueCol;
				@media #{$rwd1100} {
					grid-column: 1/5;
					grid-row: 8/11;
				}
				@media #{$rwd700} {
					grid-column: 1/5;
					grid-row: 7/10;
				}
				> ul {
					overflow: hidden;
					position: relative;
					height: 100%;
					> li {
						position: absolute;
						left: 0;
						top: 150%;
						width: 100%;
						height: 100%;
						padding: 2vh 2vw;
						box-sizing: border-box;
						background-color: #fff;
						&.tit {
							color: #fff;
							text-align: center;
							background-color: $blueCol;
							filter: grayscale(70%);
							> h2 {
								height: 12vh;
								font-size: 2rem;
								text-indent: 0;
								line-height: 10vh;
								background: none;
								@media #{$rwd700} {
									font-size: 1.6rem;
								}
							}
							> p {
								color: #fff;
								font-weight: 800;
								font-size: 1.2rem;
								line-height: 2rem;
								filter: blur(18px);
								@media #{$rwd700} {
									font-size: 1rem;
									line-height: 1.6rem;
								}
								&:last-child {
									margin-top: 4vh;
									font-size: 0.8rem;
								}
							}
						}
						// end of .tit
						&:nth-child(2) {
							div {
								display: flex;
								justify-content: space-around;
								width: 100%;
								height: 30%;
								> p {
									width: 80px;
									height: 80px;
									margin-top: -0.5vh;
									position: relative;
									> span {
										position: absolute;
										left: 0;
										top: 0;
										display: block;
										width: 90%;
										height: 90%;
										padding: 5%;
										@include irSet();
									}
									&.sk1 > span {
										background-image: url(../img/profile_who_sk1.png);
									}
									&.sk2 > span {
										background-image: url(../img/profile_who_sk2.png);
										& + svg {
											animation-delay: 0.2s;
										}
									}
									&.sk3 > span {
										background-image: url(../img/profile_who_sk3.png);
										& + svg {
											animation-delay: 0.4s;
										}
									}
									&.sk4 > span {
										background-image: url(../img/profile_who_sk4.png);
										& + svg {
											animation-delay: 0.6s;
										}
									}
									&.sk5 > span {
										background-image: url(../img/profile_who_sk5.png);
										& + svg {
											animation-delay: 0.8s;
										}
									}
									&.sk6 > span {
										background-image: url(../img/profile_who_sk6.png);
										& + svg {
											animation-delay: 1s;
										}
									}
									&.sk7 > span {
										background-image: url(../img/profile_who_sk7.png);
										& + svg {
											animation-delay: 1.2s;
										}
									}
									&.sk8 > span {
										background-image: url(../img/profile_who_sk8.png);
										& + svg {
											animation-delay: 1.4s;
										}
									}
									> svg {
										position: absolute;
										left: 0;
										top: 0;
										width: 100%;
										height: 110%;
										fill: transparent;
										transform-origin: center;
										opacity: 0;
										> text {
											font-weight: 600;
											font-size: 1.2rem;
											fill: #000;
										}
										&.on {
											animation: coding 1s forwards;
										}
									}
								}
							}
						}
						// end of 2nd-child / ability
						&:nth-child(3) {
							background-image: url(../img/profile_who_career1.png),
								url(../img/profile_who_career2.png);
							background-position: left top, right bottom;
							background-repeat: no-repeat;
							> h2 {
								margin-bottom: 1.5vh;
								font-size: 1.2rem;
								&:first-child {
									text-align: right;
								}
							}
							> p {
								margin-bottom: 1.5vh;
								font-weight: 700;
								font-size: 1rem;
								line-height: 1.4rem;
								word-break: keep-all;
								@media #{$rwd700} {
									font-size: 0.8rem;
								}
								&:first-of-type {
									text-align: right;
									margin-bottom: 5.5vh;
								}
								> a {
									display: inline-block;
									width: 1.4rem;
									height: 1.4rem;
									@include irSet();
									background-image: url(../img/profile_who_newtab.svg);
								}
							}
						}
						// end of .3rd child career
						&:nth-child(4) {
							background-image: url(../img/profile_who_adjective.png);
							background-repeat: no-repeat;
							background-size: cover;
							background-position: center;
							> h3 {
								color: $blueCol;
								margin: 2vh 0 1vh;
								font-size: 1.5rem;
							}
							> p {
								font-size: 1rem;
								font-weight: 600;
								text-align: right;
							}
						}
						// end of 4th-child/adjective
						&:nth-child(2n) {
							top: -150%;
						}
					}
				}
			}
			// end of .who
			> article.done {
				grid-column: 10/13;
				grid-row: 4/7;
				outline: 0px solid $purpleCol;
				@media #{$rwd1100} {
					grid-column: 4/7;
					grid-row: 11/14;
					&:after {
						position: absolute;
						right: 0;
						bottom: 37vh;
						display: block;
						content: "";
						width: 13vw;
						height: 8vw;
						@include irSet();
						background-image: url(../img/profile_bg_side.png);
						background-size: contain;
					}
				}
				@media #{$rwd700} {
					grid-column: 1/4;
					grid-row: 11/14;
					&:after {
						position: absolute;
						left: 0;
						bottom: 0;
						display: block;
						content: "";
						width: 233px;
						height: 84px;
						@include irSet();
						background-image: url(../img/profile_bg_bottom.png);
					}
				}
				> ul {
					position: relative;
					width: 100%;
					height: 100%;
					> li {
						position: absolute;
						width: 100%;
						height: 100%;
						left: 0;
						top: 0;
						background-color: #fff;
						transform: scale(0);
						padding: 2vh 1vw;
						box-sizing: border-box;
						&.tit {
							display: block;
							background-color: $purpleCol;
							filter: grayscale(70%);
							text-align: center;
							> h2 {
								height: 12vh;
								font-size: 1.6rem;
								text-indent: 0;
								line-height: 10vh;
								background: none;
								color: #fff;
								@media #{$rwd700} {
									font-size: 1.4rem;
								}
							}
							> p {
								color: #fff;
								font-weight: 800;
								font-size: 1.2rem;
								line-height: 2rem;
								filter: blur(18px);
								@media #{$rwd700} {
									font-size: 1rem;
									line-height: 1.6rem;
								}
								&:last-child {
									margin-top: 4vh;
									font-size: 0.8rem;
								}
							}
						}
						// end of .tit
						&:nth-child(2) {
							position: relative;
							overflow: hidden;
							@media #{$rwd700} {
								> h2 {
									font-size: .9rem;
								}
							}
							> ol {
								position: absolute;
								&.main {
									left: 0%;
									top: 15%;
									width: 400%;
									height: 80%;
									> li {
										float: left;
										width: 25%;
										height: 100%;
										@include irSet();
										&:nth-child(1) {
											background-image: url(../img/profile_whatdone_plan1.svg);
										}
										&:nth-child(2) {
											background-image: url(../img/profile_whatdone_plan2.svg);
										}
										&:nth-child(3) {
											background-image: url(../img/profile_whatdone_plan3.svg);
										}
										&:nth-child(4) {
											background-image: url(../img/profile_whatdone_plan4.svg);
										}
									}
								}
							}
							> .pagination {
								left: calc(50% - 2.5vw);
								bottom: 1vh;
								z-index: 10;
								width: 5vw;
								@media #{$rwd1100} {
									left: calc(50% - 6vw);
									width: 12vw;
								}
								> li {
									float: left;
									width: 0.6vw;
									height: 0.6vw;
									margin-right: 0.3vw;
									border-radius: 50%;
									@include irSet();
									background: #999;
									@media #{$rwd1100} {
										width: 1.5vw;
										height: 1.5vw;
										margin-right: 1.3vw;
									}
									&:last-child {
										margin-right: 0;
									}
									> a {
										display: block;
									}
									&.on,
									&:hover {
										background-color: #313131;
									}
								}
							}
							> .btn {
								display: flex;
								width: 90%;
								justify-content: space-between;
								position: absolute;
								left: 5%;
								top: calc(50% - 1vh);
								z-index: 10;
								> a {
									display: block;
									width: 0px;
									height: 0px;
									text-indent: -9999px;
									border: 1.5vh solid #999;
									&:hover {
										border-color: #313131;
									}
									&.next {
										border-top-color: transparent;
										border-bottom-color: transparent;
										border-right-color: transparent;
									}
									&.prev {
										border-left-color: transparent;
										border-top-color: transparent;
										border-bottom-color: transparent;
									}
								}
							}
						}
						// end of 2nd child // event planner
						&:nth-child(3) {
							@media #{$rwd700} {
								> h2 {
									font-size: .9rem;
								}
							}
							> h3 {
								margin: 3vh 0;
								text-align: center;
							}
							> iframe {
								width: 100%;
							}
						}
						// end of 3rd child // eng dubbing
						&:nth-child(4) {
							> .frame {
								height: 100%;
								> ol {
									position: relative;
									width: 100%;
									height: 100%;
									background-image: url(../img/profile_whatdone_trav1.png); // JS
									background-repeat: no-repeat;
									background-size: cover;
									background-position: center;
									animation: photo 3s infinite linear;
									> li {
										display: none;
									}
								}
								> .record {
									display: inline-block;
									position: absolute;
									bottom: 8px;
									right: 8px;
									padding: 4px 8px;
									color: #fff;
									font-size: 0.8rem;
									font-weight: 600;
									background-color: #000;
									animation: photo 3s infinite linear;
								}
							}
						}
						// end of 4th child //travel
					}
				}
			}
			// end of .done
			.item1 {
				grid-column: 7/8;
				grid-row: 1/2;
				@media #{$rwd1100} {
					grid-column: 1/2;
					grid-row: 7/8;
				}
				@media #{$rwd700} {
					grid-column: 1/2;
					grid-row: 5/6;
				}
			}
			.item2 {
				grid-column: 7/8;
				grid-row: 2/3;
				@media #{$rwd1100} {
					grid-column: 2/3;
					grid-row: 7/8;
				}
				@media #{$rwd700} {
					grid-column: 2/3;
					grid-row: 5/6;
				}
			}
			.item3 {
				grid-column: 7/8;
				grid-row: 3/4;
				@media #{$rwd1100} {
					grid-column: 3/4;
					grid-row: 7/8;
				}
				@media #{$rwd700} {
					grid-column: 3/4;
					grid-row: 5/6;
				}
			}
			.item4 {
				grid-column: 7/8;
				grid-row: 4/5;
				@media #{$rwd1100} {
					grid-column: 4/5;
					grid-row: 7/8;
				}
				@media #{$rwd700} {
					grid-column: 4/5;
					grid-row: 5/6;
				}
			}
			.item5 {
				grid-column: 7/8;
				grid-row: 5/6;
				@media #{$rwd1100} {
					grid-column: 5/6;
					grid-row: 7/8;
				}
				@media #{$rwd700} {
					grid-column: 1/2;
					grid-row: 6/7;
				}
			}
			.item6 {
				grid-column: 7/8;
				grid-row: 6/7;
				@media #{$rwd1100} {
					grid-column: 6/7;
					grid-row: 7/8;
				}
				@media #{$rwd700} {
					grid-column: 2/3;
					grid-row: 6/7;
				}
			}
			.item7 {
				grid-column: 8/9;
				grid-row: 4/5;
				@media #{$rwd1100} {
					grid-column: 5/6;
					grid-row: 8/9;
				}
				@media #{$rwd700} {
					grid-column: 3/4;
					grid-row: 6/7;
				}
			}
			.item8 {
				grid-column: 8/9;
				grid-row: 6/7;
				@media #{$rwd1100} {
					grid-column: 6/7;
					grid-row: 8/9;
				}
				@media #{$rwd700} {
					grid-column: 4/5;
					grid-row: 6/7;
				}
			}
			.item9 {
				grid-column: 9/10;
				grid-row: 4/5;
				@media #{$rwd1100} {
					grid-column: 2/3;
					grid-row: 11/12;
				}
				@media #{$rwd700} {
					grid-column: 4/5;
					grid-row: 12/13;
				}
				&:after {
					background-color: $purpleCol;
				}
			}
			.item10 {
				grid-column: 9/10;
				grid-row: 5/6;
				@media #{$rwd1100} {
					grid-column: 3/4;
					grid-row: 11/12;
				}
				@media #{$rwd700} {
					grid-column: 4/5;
					grid-row: 13/14;
				}
				&:after {
					background-color: $purpleCol;
				}
			}
			.item11 {
				grid-column: 9/10;
				grid-row: 6/7;
				@media #{$rwd1100} {
					grid-column: 3/4;
					grid-row: 12/13;
				}
				@media #{$rwd700} {
					grid-column: 4/5;
					grid-row: 14/15;
				}
				&:after {
					background-color: $purpleCol;
				}
			}
			.item12 {
				grid-column: 12/13;
				grid-row: 1/2;
				@media #{$rwd1100} {
					grid-column: 5/6;
					grid-row: 9/10;
				}
				@media #{$rwd700} {
					grid-column: 1/2;
					grid-row: 10/11;
				}
				&:after {
					background-color: $blueCol;
				}
			}
			.item13 {
				grid-column: 12/13;
				grid-row: 2/3;
				@media #{$rwd1100} {
					grid-column: 6/7;
					grid-row: 9/10;
				}
				@media #{$rwd700} {
					grid-column: 2/3;
					grid-row: 10/11;
				}
				&:after {
					background-color: $blueCol;
				}
			}
			.item14 {
				grid-column: 12/13;
				grid-row: 3/4;
				@media #{$rwd1100} {
					grid-column: 5/6;
					grid-row: 10/11;
				}
				@media #{$rwd700} {
					grid-column: 3/4;
					grid-row: 10/11;
				}
				&:after {
					background-color: $blueCol;
				}
			}
		}
		// article animation
		> .grid-container > article > ul > li {
			// .on will be for normal list
			&.on {
				animation: toLeftTop 1s forwards ease-in;
			} // .turn will be for tit
			&.off {
				animation: toBackwards 1s forwards ease-in;
			} // .turn will be for tit
			&.turn {
				animation: turnon 2s forwards ease-in-out;
				> h2 {
					animation: bigger 1s forwards 1s;
				}
				> p {
					animation: blur 1s forwards;
					&:nth-of-type(1) {
						animation-delay: 1.6s;
					}
					&:nth-of-type(2) {
						animation-delay: 2s;
					}
					&:nth-of-type(3) {
						animation-delay: 2.4s;
					}
					&:nth-of-type(4) {
						animation-delay: 2.8s;
					}
					&:last-child {
						animation: float 0.5s infinite alternate linear 3.6s;
					}
				}
			}
		}
		// end of .turn article animation
	}
	// end of section
	> footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 90vw;
		margin: 0 5vw;
		height: 5vh;
		z-index: 1000;
		background-color: #313131;
		@include flexCenter();
		@media #{$rwd700} {
			width: 95vw;
			margin: 0 2.5vw;
		}
		> address {
			color: #fff;
			height: 20px;
			line-height: 20px;
			font-size: 0.7rem;
			@media #{$rwd700} {
				color: #313131;
				font-size: .1rem;
			}
			> a {
				display: inline-block;
				padding: 0 16px;
				font-size: 0.7rem;
				color: #fff;
				&:last-child {
					width: 73px;
					@include irSet();
					background-image: url(../img/profile_main_github.png);
				}
			}
		}
	}
	// end of footer
}
// end of #wrap
.details {
	display: none;
	position: absolute;
	top: calc(4vw + 2vh);
	left: 20vw;
	width: 60vw;
	height: calc(93vh - 6vw);
	background-color: #fff;
	z-index: 10000;
	box-shadow: 0 0 0 1000px rgba($color: #000000, $alpha: 0.7);
	@media #{$rwd1100} {
		width: 100vw;
		left: 0;
	}
	> .frame {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		overflow: auto;
		> img {
			display: block;
			width: 100%;
			height: auto;
			transform: translate3d(0, 0, 0);
		}
	}
	> button {
		@include btnReset();
		@include irSet();
		position: absolute;
		right: 1.5rem;
		top: 1.5rem;
		width: 2vw;
		height: 2vw;
		background-image: url(../img/profile_details_cls.svg);
		@media #{$rwd1100} {
			width: 4vw;
			height: 4vw;
		}
		@media #{$rwd700} {
			width: 8vw;
			height: 8vw;
			right: 1rem;
			top: 1rem;
		}
	}
}
body {
	overflow-x: hidden;
}
