$skyCol: #6cabd5;
$blueCol: #244893;
$purpleCol: #71488a;

@keyframes hue {
	to {
		filter: hue-rotate(360deg);
	}
}
@mixin fullPg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin irSet {
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: center;
}
@mixin flex($row:row, $nowrap:nowrap) {
	display: flex;
	flex-flow: $row $nowrap;
}
@mixin btnReset {
	outline: none;
	border: none;
	background: none;
}
